@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helper to ensure body background if any pages don't set it */
html, body, #__next {
  height: 100%;
}
body {
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
